force-app/main/default/flows/FERP_Case_Date_fields_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Check_Review_types</name>
        <label>Check Review types</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Formulary_Expedited</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Review_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pharmacy Exception</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Original_Due_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Priority_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expedited</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Orig_due_date_Exp</targetReference>
            </connector>
            <label>Formulary Expedited</label>
        </rules>
        <rules>
            <name>Formulary_Standard1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Review_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pharmacy Exception</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Original_Due_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Priority_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Orig_due_date_Sta</targetReference>
            </connector>
            <label>Formulary Standard1</label>
        </rules>
        <rules>
            <name>Standard_Review_types</name>
            <conditionLogic>(1 AND 3) OR (2 AND 3) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Review_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medical Necessity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Review_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Experimental/Investigational</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Priority_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Review_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Coverage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Orig_due_date_Sta1</targetReference>
            </connector>
            <label>Standard Review types</label>
        </rules>
        <rules>
            <name>Expedited_Review_tpes</name>
            <conditionLogic>(1 AND 3) OR (2 AND 3) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Review_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medical Necessity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Review_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Experimental/Investigational</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Priority_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expedited</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Review_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Coverage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Orig_due_date_Stan2</targetReference>
            </connector>
            <label>Expedited Review tpes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Clockstartdatenow</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>Expeditedcoverageduedate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!$Record.Clock_Start_Date__c} + 3)</expression>
    </formulas>
    <formulas>
        <name>Expeditedduedate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!$Record.Clock_Start_Date__c} + 1)</expression>
    </formulas>
    <formulas>
        <name>Standardcoverageduedate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!$Record.Clock_Start_Date__c} + 45)</expression>
    </formulas>
    <formulas>
        <name>Standardduedate</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!$Record.Clock_Start_Date__c} + 3)</expression>
    </formulas>
    <interviewLabel>FERP Case Date fields Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FERP Case Date fields Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Orig_due_date_Exp</name>
        <label>Update Orig due date_Exp</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Clock_Start_Date__c</field>
            <value>
                <elementReference>Clockstartdatenow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>Expeditedduedate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Due_Date__c</field>
            <value>
                <elementReference>Expeditedduedate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Orig_due_date_Sta</name>
        <label>Update Orig due date_Sta</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Clock_Start_Date__c</field>
            <value>
                <elementReference>Clockstartdatenow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>Standardduedate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Due_Date__c</field>
            <value>
                <elementReference>Standardduedate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Orig_due_date_Sta1</name>
        <label>Update Orig due date_Stan1</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Original_Due_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Clock_Start_Date__c</field>
            <value>
                <elementReference>Clockstartdatenow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>Standardcoverageduedate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Due_Date__c</field>
            <value>
                <elementReference>Standardcoverageduedate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Orig_due_date_Stan2</name>
        <label>Update Orig due date_Stan2</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Original_Due_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Clock_Start_Date__c</field>
            <value>
                <elementReference>Clockstartdatenow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>Expeditedcoverageduedate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Due_Date__c</field>
            <value>
                <elementReference>Expeditedcoverageduedate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Review_types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Program_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Clock_Start_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
